.personal-info{
  select.placeholder{
    color:#757575;
  }
  .info{
    .box{
      select{
        padding-left:8px;
      }
      input[type="date"]{
        -webkit-appearance: none;
        background:#fff;
      }
    }
  }
}
