@import "consts/index.less";

.bind-weixin {

}

.input-box {
  margin: 0 auto;
  max-width: @maxWidth;
  .phone, .code {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 100%;
    .calc_padding(0, 0, 0, 90);
    .calc_height(100);
  }
  .phone{
    border-bottom: 1px solid @lineGray;
    background-color:#fff;
    background-image: url(/mobile/img/icon_register_phone.png);
    background-repeat: no-repeat;
    .calc_bg_ps(24);
    .calc_bg_size(48,48);
    input{
      flex-grow: 1;
    }
  }
  input {
    display: block;
    .calc_height(64);
    .calc_lineheight(64);
    .fontNormal;
  }
  .code {
    justify-content: space-between;
    background-color:#fff;
    background-image: url(/mobile/img/icon_register_yzm.png);
    background-repeat: no-repeat;
    .calc_bg_ps(24);
    .calc_bg_size(48,48);
    .get-code {
      display: block;
      margin-right:12px;
      .calc_width(180);
      .calc_height(64);
      .calc_lineheight(64);

      border-radius: @radius;

      .fontSmall;
      color: #fff;
      text-align: center;

      background: @componentGray;
      &.active {
        background: @red;
      }

    }
  }

}

.service-agreement {
  display: flex;
  justify-content: center;
  align-items: center;

  .calc_height(36);

  .fontSmall;
  label {

    @width:20px;
    @height:20px;
    @media(max-width:375px){
      @width:18px;
      @height:18px;
    }

    display:flex;
    align-items: center;
    justify-content: center;

    input {
      visibility: hidden;
      width: 0;
      height: 0;
    }
    .box {
      display: block;
      margin-right: 10px;
      box-sizing: border-box;
      width: @width;
      height: @height;
      color: #fff;
      border-radius: @radius;
    }
    .i-agree {
      margin-right: @width / 2;
    }
    .agreement {
      color: @red;
    }
  }
  input + .box {
    border: 1px solid @lineGray;
    background: #fff;
  }
  input:checked + .box {
    border: 1px solid @red;
    background: @red url(/mobile/img/icon_right_s.png) center center no-repeat;
    background-size: 100% 100%;
  }
}

.bind {
  display: flex;
  align-items: center;
  justify-content: center;
  .button();
  background: @componentGray;
  &.active {
    background: @red;
  }
}