# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
node_modules/
/public/images/bg.jpg
/Canvas/chart4.js
/public/test.js
/public/css/test.css
/public/test.html
/CSS/absolute/absolute.css
/public/test1.html
/public/count1.html
/public/count4.html
/public/count3.html
/public/count2.html
/public/pptv.html
/public/count5.html
/public/test2.html
